# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Gradle
.gradle/
build/
**/build/

# Compilação Java
*.class
out/

# Servidores locais
**/servers/

# JARs gerados
*.jar

# Logs
*.log
logs/

# Arquivos locais/sensíveis
.env
*.secret
.console_history

# Sistema operacional
.DS_Store
Thumbs.db